body {
	font-family: sans-serif;
	margin:0;
}

h1 {
	color:white;
	background-color:hsla(240, 100%, 50%, 1);
	padding:.75em;
}

.summary {
	margin:2em;
	background-color:white;
  	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	padding:1em;
}

.title {
	color:hsla(240, 100%, 50%, 1);
	font-size: larger;
	font-weight: bold;
	text-decoration: none;
	padding-bottom: .5em;
	margin:0;
}

.title:hover {
	color:hsla(240, 100%, 75%, 1);
}

.description {
	text-decoration: none;
	color:black;
}

a.noDecoration {
	text-decoration: none;
}

body {
	background-color:hsla(240, 100%, 98%, 1);
	background-image:repeating-linear-gradient(
		45deg, 
		hsla(240,100%, 98%, 1), 
		hsla(240,100%, 98%, 1) 1%,
		hsla(240,100%, 99%, 1) 1%, 
		hsla(240,100%, 99%, 1) 2%, 
		hsla(240, 100%, 98%, 1) 2%);
}
